:root {
  --theme-navy: #253746;
  --theme-blue: #225862;
  --theme-blue-hover: #428892;
  --theme-steel: #ededed;
}

html {
  background-color: var(--theme-steel);
  overflow-y: auto;
}

.hero,
.footer {
  background-image: linear-gradient(150deg, var(--theme-navy), var(--theme-blue));
}

.hero {
  h2 {
    color: var(--theme-steel);
  }

  h6 {
    color: #bbb;
  }

  a {
    background: rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.7);
    margin-top: 2rem;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      color: rgba(255, 255, 255, 0.8);
    }

    &:active,
    &:focus {
      background: #ddd;
      background-image: linear-gradient(#eee, #ddd);
      border-color: #bbb;
      color: var(--theme-navy);
    }
  }
}

.main-content {
  h3,
  h4 {
    color: var(--theme-blue-hover);
  }

  .button {
    background: var(--theme-blue);
    color: var(--theme-steel);
    border-radius: 10px;

    &:hover,
    &:focus {
      background: var(--theme-blue-hover);
      color: var(--theme-steel);
    }
  }

  .preact-hint:after {
    border: 10px solid transparent;
    border-bottom: none;
    border-top-color: #000;
  }

  .preact-hint__content {
    font-size: 0.75em;

    strong {
      color: #fff;
    }
  }

  pre {
    padding: 0.8rem;
    background-color: #ddd;
    border: 1px solid #aaa;
  }
}

.footer {
  padding: 0.25rem;
  color: var(--theme-steel);
}
